@import 'mixins', 'variables';

*, *::before, **:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $body-text-color;
    font-family: $main-font;
    background-image: $bg-color;
}

input, textarea, button, a {
    font-family: inherit;
    color: inherit;
    font-weight: 500;
}

.container {
    margin-bottom: 6rem;
}

.logo {
    display: block;
    margin: auto;
    transform: translateY(-3rem);
}

.hero {
    text-align: center;
    span:hover {
        opacity: 0.8;
    }
    span {
        display: block;
        @include dimensions(fit-content, fit-content);
        margin: auto;
    }
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('/agnosco/herobg.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto 4rem;
    padding: 1rem;
    color: white;
    height: 30rem;
    border-radius: 15px;
    animation: fadeIn ease-in 0.8s;
    h1 {
        font-weight: 600;
    }
}

.call-to-action {
    display: block;
    margin: 0 auto 4rem;
    text-decoration: none;
    border: 3px inset $medium-brown;
    background-color: white;
    @include dimensions(12rem, 4rem);
    padding: .2rem;
    border-radius: 20px;
    font-size: 1.2rem;
    animation: fadeIn ease-in 2.2s;
    p {
        margin-bottom: 0;
    }
}

#search {
    margin-left: 0 6rem;
}

#searchbar {
    position: relative;
    max-width: 80%;
    margin: auto;
    display: flex;
}

.search-icon {
    position: absolute;
    top: 0.75rem;
    left: 0.45rem;
}

.form-control {
    display: inline;
    padding: 6px 1.6rem;
    border: 2px solid $medium-brown;
    width: calc(100% - 100px);
    font-size: 1.2rem
}

#search-btn {
    width: 15%;
}

#search-results {
    @include dimensions(inherit, fit-content);
    margin: 6rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    button {
        color: black;
    }
}

.book {
    position: relative;
    text-align: center;
    width: 10rem;
    margin: 1rem auto;
    img {
        margin: 0 auto 1rem;
        border: 1px solid $light-gray;
        border-radius: 5px;
    }
}

.book:hover .button-container {
    visibility: visible;
}

.img-replacement {
    height: 10rem;
    margin: auto;
}

.button-container {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: space-evenly; 
    visibility: hidden;
    animation: fadeIn ease-in 0.7s;
}

.check {
    color: green;
}

.gift {
    color: #b01b2e;
}

.wave-design {
    position: absolute;
    @include dimensions(110%, 30rem);
    transform: translateY(-8rem);
    z-index: -1;

}

.user-section {
    max-width: 80%;
    background-image: url('/agnosco/wooden-bg.jpg');
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 14rem auto;
    padding: 2rem;
    border: 1px solid $bg-color;
    border-radius: 20px;
    color: $neutral-color;
    h1 {
        display: inline-block;
        margin-right: 1rem;
    }
}

.panel {
    height: 50%;
    text-align: center;
    hr {
        width: 30%;
        margin: auto;
        border: none;
        height: 3px;
        background-color: white;
        opacity: 80%;
    }
}

.book-container {
    display: grid;
    height: 95%;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2rem 4rem;
}

.icon {
    display: inline-block;
    font-size: 2rem;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
